/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*  zoom: 0.85;  */
  margin: 0; /* Elimina el margen por defecto del cuerpo de la página */
  padding: 0; /* Elimina el relleno por defecto del cuerpo de la página */
}

header {
  margin-bottom: auto;
  text-align: center;
  color: steelblue;
}

h1 {
  font-size: 50px;
  margin: 10px 0px;
}

p {
  color: aliceblue;
  font-size: 160%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: aliceblue;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #c3d7df;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

.class_slider {
  position: relative;
  max-height: 100%;
  max-width: 600px;
  margin: 0 auto;
/*  margin-top: 600px;  */
  padding: 0 0 3% 0;
}

a:hover {
  color: #a5bdcd;
}

.one-third {
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}

.icon-wrap {
  margin: 0 auto;
  width: 220px;
  height: 220px;
  background-color: steelblue;
  border-radius: 125px;
  text-align: center;
  margin-top: 3%;
}

.icon-wrap i {
  text-align: center;
  color: #ffffff;
  font-size: 450%;
  padding: 20%;
}

/* ONE THIRD PADDING*/
.one-third-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}

.class_goToHomePage {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 5px;
  color: aliceblue;
  background-color: lightslategray;
}

.class_links {
  display: block;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
  color: aliceblue;
}

.class_u1_links {
  size: 1px;
  font-size: 24px;
  color: aliceblue;
}

.class_ciclismo {
  font-size: 24px;
  color: aliceblue;
  align-content: center;
}

.class_contenedor {
  display:flex;
  flex-direction: column;
  min-height:100%;
}

.class_contenedor > div {
  flex:1;
  display:flex;
}